{{> head }}
{{> navbar }}

<div class="container m-5">
    <div class="row">
        <div class="col">
        <h2>Cápitan America</h2>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia accusamus ipsum itaque expedita, tempora delectus sapiente harum at nam provident?</p>
        </div>
        <div class="col">
            <img src="assets/img/capitanAmerica.png" alt="Capitan America" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}